langchain
langchain-community
langchain-openai
langgraph
openai
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
wikipedia
langchain-huggingface
sentence-transformers
langchain-groq
pypdf
langchain-tavily
rank_bm25
